<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institution Registration</title>
    <link rel="stylesheet" href="../static/css/signup.css">
</head>
<body>
    <header class="header">
        <h1>Create an Institution MarkMe Account</h1>
    </header>

    <main>
        <form method="POST">
            {% csrf_token %}
            {% load widget_tweaks %}

            {% if error %}
                <p style="color:red; text-align: center; font-size: 18px;">{{ error }}</p>
            {% endif %}

            <label for="lastname">Institution Name:</label>
            {% render_field user.name id="name" type="text" %}

            <label for="email">Type:</label>
            {% render_field user.Type id="email" type="text" style="height: 40px; border: 1px solid rgb(188, 188, 188); border-radius: 5px;" %}

            <input type="submit" value="Create Account" style="margin-top: 15px;">
        </form>

        <p>Already have an account? <a href="login.html">Login here.</a></p>
    </main>

    <footer>
        <p>&copy; 2023 MarkMe. All rights reserved.</p>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
    </footer>
</body>
</html>
